<p class="lead">Welcome <%= @email %>,</p>
<hr class="my-4">
<p>You can confirm your account email through the link below:</p>
<p>
  <% confirm_account_link = "#{ENV['FRONTEND_APP_HOST']}/confirm-account?confirm_token=#{@token}" %>
  <%= link_to confirm_account_link, class: 'btn btn-success btn-lg' do %>
    Confirm my account
  <% end %>
</p>