<!-- app/views/showtimes/invoice.pdf.erb -->
<div class="invoice-container">
  <h1>Invoice for Booking #<%= @booking.id %></h1>

  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <% @booking_details.each do |attribute, value| %>
        <tr>
          <td><%= attribute %></td>
          <td><%= value %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>